body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#poweredby {
  position: absolute;
  margin-bottom: 20px;
  margin-right: 20px;
  bottom: 0px;
  right: 0px;
  color: #3f465a;
  font-family: 'Lato';
  font-size: 12px;
}