@import '../control.mixins.scss';

.wrapper {
	display: flex;
	align-items: center;
}

.container {
	flex: 1;
	position: relative;
}

.textarea {
	@include control();
	height: unset;
	resize: vertical;
}
