body {
	// brand
	--brand-color: #329239;
	--primary-color: var(--brand-color);
	--secondary-color: #0F996D;
	--neutral-color: #aaaaaa;
	--destructive-color: rgba(244, 67, 54, 0.8);

	--error-color: #FF245A;

	// dom
	--h1-color: var(--brand-color);
	--h2-color: var(--brand-color);
	--h3-color: var(--brand-color);
	--h4-color: var(--content-color);
	--h5-color: var(--brand-color);
	--h6-color: var(--content-color);
	--scroll-bar-background: #616161;

	// shell

	--content-background: #3c3c3d;
	--content-color: #d8d8d8;
	--content-title-color: var(--brand-color);
	--content-subtitle-color: var(--brand-color);
	--content-separator-background: #545454;
	--content-selected-color: var(--brand-color);

	// components
	--field-background: #212529;
	--field-color: white;
	--field-border-color: rgba(77,77,79,0.2);
	--field-disabled-background: rgba(77, 77, 79, .06);
	--field-disabled-color: rgba(77, 77, 79, .45);
	--field-placeholder-color: #21252980;
	--field-focus-border-color: #80bdff;
	--field-max-length-background: #fff;
	--field-max-length-color: #80bdff;
	--field-error: var(--error-color);
	--field-warning: #F5C050;
	--checkbox-checked-background: var(--brand-color);
	--checkbox-unchecked-background: transparent;
	--radio-checked-background: var(--brand-color);
	--radio-unchecked-background: transparent;
	--field-dropdown-background: #fff;

	// table

	--table-header-color: #9b9b9b;
	--table-row-active-background: var(--content-selected-color);
	--table-row-active-color: #fff;
	--table-separator-background: var(--content-separator-background);
	--table-active-color: var(--content-selected-color);
	--tabulator-background: var(--content-background);

	// tabs

	--tab-active-color: #fff;
	--tab-active-background: var(--brand-color);
	--tab-separator-background: var(--content-separator-background);
}
